<div class="row" id="saved-articles">
    {{#each articles}}
    <div class="col-md-4 mb-5 article">
        <h4>{{title}}</h4>
        <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-info view-note" data-id="{{_id}}" data-title="{{title}}" href="#" role="button">Comments</a>
            <a class="btn btn-sm btn-outline-primary" href="{{link}}" target="_blank" role="button">Read Article</a>
            <a class="btn btn-sm btn-outline-danger delete-article" data-id="{{_id}}" href="#" role="button">Remove Article</a>
        </div>
    </div>
    {{/each}}
</div>